body > footer {
	z-index: 999;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #222;
	width: 100%;
	height: 49px;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

footer ul,footer li {
	margin: 0;
	list-style: none;
	padding: 0;
}

footer li {
	display: block;
	float: left;
	width: 20%;
	text-align: center;
}

footer a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-weight: bold;
}

/*
footer a.tappable-active,
footer a.selected {
	background: #666;
}
*/

footer span {
	display: block;
}

footer .icon {
	width: 30px;
	height: 30px;
/* 	background: #fff; */
	display: inline-block;
	margin-top: 5px;
	
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.view footer {
	height: 44px;
	line-height: 44px;
	width: 100%;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}


.post-image {
	float: left;
	width: 48px;
	height: 48px;
	background: #ccc;
}

.post-info {
	float: left;
	padding-left: 10px;
	width: 80%;
	font-size: 12px;
}

	.post-name {
		font-weight: bold;
	}
	
	.post-username {
		font-style: italic;
		padding-left: 5px;
	}
	
	.post-text {
		margin: 0;
		padding: 0;
	}


.tableview {
	padding: 5px 0;
}

.tableview-links li > .post-inner .story {
	padding: 5px;
}

.tableview-links {
	background: rgb(228,228,228);
}

.tableview-links li {
	border: 0;
}

.tableview-links li > .post-inner {
	background: #fff;
	margin: 0 5px 5px;
	width: 90%;

	border-width: 4px;
	border-image: url(/images/border.png) 4 4 4 4 repeat;
	padding-bottom: 4px;
}

.fake-link {
	text-decoration: underline;
	color: #333;
}


header.fake, .view > header {
	background: url(/images/interface/header.jpg) center top;
	background-size: 100% 100%;
}
#view-home header h1 {
	width: 40%;
	padding-top: 5px;
}
#view-home header h1 span {
	display: block;
	background: url(/images/interface/logo.png) right top no-repeat;
	background-size: 100% 100%;
	width: 94px;
	height: 35px;
	float: right;
}

body > footer {
	background: url(/images/interface/menu.jpg) center top;
	background-size: 100% 100%;
}

footer a.selected {
	background: url(/images/interface/menu-on.jpg) center top no-repeat;
	background-size: 500% 100%;
}

	footer a#tab-home.tappable-active,
	footer a#tab-home.selected {
		background-position: left top;
	}


	footer a#tab-schedule.tappable-active,
	footer a#tab-schedule.selected,
	
	footer a#tab-artists.tappable-active,
	footer a#tab-artists.selected,

	footer a#tab-chat.tappable-active,
	footer a#tab-chat.selected {
		background-position: center top;
	}

	footer a#tab-score.tappable-active,
	footer a#tab-score.selected {
		background-position: right top;
		padding-right: 2px;
	}
	
	
	footer a#tab-home .icon {
		background-image: url(/images/interface/icon-home.png);
	}
	footer a#tab-schedule .icon {
		background-image: url(/images/interface/icon-schedule.png);
	}
	footer a#tab-artists .icon {
		background-image: url(/images/interface/icon-artists.png);
	}
	footer a#tab-chat .icon {
		background-image: url(/images/interface/icon-chat.png);
	}
	footer a#tab-score .icon {
		background-image: url(/images/interface/icon-score.png);
	}


