body > footer {
	z-index: 999;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #222;
	width: 100%;
	height: 49px;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

footer ul,footer li {
	margin: 0;
	list-style: none;
	padding: 0;
}

footer li {
	display: block;
	float: left;
	width: 25%;
	text-align: center;
}

footer a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	border-radius: 5px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

footer a.tappable-active,
footer a.selected {
	background: #666;
	color: #0f0;
}

footer span {
	display: block;
}

footer .icon {
	width: 30px;
	height: 30px;
	background: #fff;
	display: inline-block;
	margin-top: 5px;
}

.view footer {
	height: 44px;
	line-height: 44px;
	width: 100%;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}


.post-image {
	float: left;
}

.post-info {
	float: left;
	padding-left: 10px;
	width: 80%;
	font-size: 12px;
}

	.post-name {
		font-weight: bold;
	}
	
	.post-username {
		font-style: italic;
		padding-left: 5px;
	}
	
	.post-text {
		margin: 0;
		padding: 0;
	}


.tableview-links li > a .story {
	padding: 5px;
}

.tableview-links {
	background: rgb(228,228,228);
}

.tableview-links li {
	border: 0;
}

.tableview-links li > a {
	background: #fff;
	margin: 0 5px 5px;
	width: 90%;

/*
	border-width: 0 4px 4px 0;
	border-color: rgb(0,188,255);	
	border-style: solid;
*/
	
	border-width: 4px;
	border-image: url(/images/border.png) 4 4 4 4 repeat;
	padding-bottom: 4px;
}



