ul.tableview.tableview-links
	li(data-index='{{i}}', class='post-{{type}}')
		.post-inner
			.story
				img.post-image(src='{{image}}')
				.post-info
					span.post-name {{name}}
					{{#username}}
					span.post-username @{{username}}
					{{/username}}
					p.post-text {{& text}}


